# Credenciales
serviceAccountKey.json
.env
*.json.key

# Python
__pycache__/
*.py[cod]
*.pyo

# Firebase
frontend/.firebase/

# Fotos de reconocimiento facial
backend/faces/

# Archivos temporales
*.log
.DS_Store
gemini_config.dart
